
html {
    scroll-padding-top: 160px; 
} /*this is an interesting one, adds more padding when u scroll down, this is here because the nav bars take up alot of space and when u scroll down with the section links, it covers part of the section*/

body { /* default styles of the body*/
    color: #E5D0AC;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D1616;
    margin: 0;
    padding-top: 80px; 
    line-height: 1.6;
    
}

header { /*styles for the header,*/
    position: fixed; /* makes the header pinned to the top of the website*/
    top: 0; /* leaves 0 space at the top of the website so the header is at the very top*/
    width: 100%; /*takes full width of the website*/
    z-index: 100; /*high z index so it appears above everything else*/
}

.nav-bar { /*this is the css for the nav bar*/
    display: flex; /*sets the display setting to flex (flexbox)*/
    align-items: center; /*aligns the items to the center  (duhh)*/
    background-color: #3E1212;
    padding: 10px 20px;
    color: #B88F58;
    height: 60px; 
}

.treaty-icon {/* basic styles for the treaty icon*/
    height: 45px;
    margin-right: 10px;
}

.Main-Heading-Nav{ /* basic styles for the heading in the nav/ header*/
    font-size: 24px;
    margin: 0;
    margin-right: auto; 
    font-weight: bold;
}

.nav-bar ul { /*css for the unordered list, the section links in the nav*/
    list-style: none; /*removes previous list styles*/
    margin: 0;
    padding: 0;
    display: flex; /*again, sets diplay setting to flexbox*/
    gap: 40px; /*sets the gap between the items inside the list*/
    justify-content: center; /* centers the content horizontally*/ 
    flex: 1; 
}

.nav-bar a { /*basic styles for the <a> inside the nav bar*/
    color: #E5D0AC;
    text-decoration: none; /*removes all text decorations*/
    font-size: 16px;
    font-weight: bold; 
}

.nav-bar a:hover { /*adds hover affect*/
    text-decoration: underline; 
}

.decoration-bar { /*css for the decoration bar, this is similar to the nav bar,*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D2323;
    padding: 0px;
    color: #F0E7D8;
    position: fixed;
    top: 78px; /*this has a top of 78 because this sets a space of 78 px above so it doesnt overlap the header*/
    width: 100%;
    z-index: 99;
    height: 35px; 
}


main { /*basic styles for the main*/
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}



h2 { /*basic styles for all h2*/
    font-size: 36px;
    color: #E5D0AC;
    margin: 0 0 20px;
    text-align: left; 
    font-weight: bold; 
}

.section-content { /*styles for the content inside the section*/
    display: grid; /*sets the display setting to grid so the stuff can get arranged as a grid*/
    grid-template-columns: 1fr 1fr; /*this sets the grid to be in columns, the 1fr and 1fr determine how many columns how, the 1 represents how much of the website they take up and fr means all space that is available*/
    gap: 30px; 
    align-items: start; 
}

.info { /*this css aligns the info to the left*/
    text-align: left;
}

.source { /*this just some basic css for the source link*/
    text-decoration: none;
    color: #E5D0AC;
    font-weight: bold;
    justify-content: center;
    font-size: 18px;
}







footer { /*basic styles for the footer*/
    text-align: center;
    padding: 20px;
    background-color: #3E1212;
    color: #E5D0AC;
    margin-top: 0px;
    
}

:focus-visible { /*this adds a focus, so basically when u tab through the website, it highlights the stuff, the - visible makes it so that the highlight only appears when u tab and not when u click the area*/
    outline: 3px solid #A31D1D; 
    
    border-radius: 5px;
}

/*this css is for the images' figcaption*/
figure {
    margin: 0; 
    text-align: center; 
}

figcaption {
    font-size: 17px; 
    margin-top: 10px; 
}

figcaption a { /*styles for the <a> inside the figcaption*/
    color: #E5D0AC; 
    text-decoration: none; 
    font-weight: bold;
}

figcaption a:hover { /*when u hover over the fig caption, it underlines the text*/
    text-decoration: underline; 
}


form {
    background-color: #1D1616; 
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid #E5D0AC;
    padding: 20px;
    border-radius: 10px;
}

legend {
    font-size: 24px;
    color: #E5D0AC;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    color: #E5D0AC;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #E5D0AC;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #1D1616;
    color: #E5D0AC;
}

select:focus {
    outline: 3px solid #A31D1D;
    border-color: #A31D1D;
}

button {
    color: #E5D0AC;
    background-color: #1D1616;
    
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid #E5D0AC;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3E1212;
}

button:focus {
    outline: 3px solid #3E1212;
    border-radius: 5px;
}

iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mode-toggle {
    width: 200px;
    height: 100px;
    border-radius: 200px;
    background-color: #d2d2d2;
    cursor:pointer;
    position: relative;
    transition: 0.2s;
}

.mode-toggle:before {
    position: absolute;
    content: '';
    background-color: grey;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}

input:checked + .mode-toggle {
    background-color: #20096d;
}

input:checked + .mode-toggle::before {
    transform: translate(100px);
}
.container input {
    display: none;
}
